{% import "sparkline.html" as sparkline %}
<!DOCTYPE html5>

<head>
    <script src="/static/lib/htmx.js"></script>
    <script src="/static/lib/sse.js"></script>

    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}"">
    
</head>
<body >
    
    <div class=" bg-gray-700 h-lvh text-green-600 p-10 w-screen">
    <h1 class=" text-5xl font-thin ml-auto mr-auto text-center">Telemetry: Bot Name</h1>
    <div class=" flex flex-row gap-4 flex-wrap mt-8 mx-auto container">

        <div hx-ext="sse" sse-connect="/telemetry?hz=1" class="flex flex-row gap-4 flex-wrap mt-8 mx-auto container text-center">
            <div class="text-3xl my-auto">(&nbsp;1 hz)</div> 
            {{ sparkline.sparkline("voltage") }}
            {{ sparkline.sparkline("ev2") }}
        </div>

        <div hx-ext="sse" sse-connect="/telemetry?hz=30" class="flex flex-row gap-4 flex-wrap mt-8 mx-auto container text-center">
            <div class="text-3xl my-auto">(30hz)</div>
            {{ sparkline.sparkline("voltage") }}
            {{ sparkline.sparkline("ev2") }}
            {{ sparkline.sparkline("ev3") }}
        </div>
        

    </div>

    </div>
    </body>