@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "sparkline";
    src: url("/static/fonts/sparks-dotline-medium.woff2");
  }

  .sparkline {
    font-family: "sparkline";
    display: inline-block;
    vertical-align: middle;
  }

